@import '@/shared/styles/main';

.title {
    color: $title-primary-color;
    font-weight: 700;
    font-size: $title-primary-size;
    letter-spacing: 5%;
    text-align: center;
    font-style: bold;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:32px;
    flex: 1;
  }


  .login_checkbox{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    gap: 12px;
    input{
      aspect-ratio: 1/1;
      height: 22px;
      width: min-content;
    }
  }

  .form{
    padding: $content-standart-padding;
    width: 100%;
    margin: inherit auto;
    margin-top: 24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    min-height: auto;
  }

  .sub_button {

    margin-bottom: 5vh;
    margin-top: 20px;
  }

@include media(sm){
    .form{
    min-height: 100vh;
  }
  .sub_button{
    margin-top: auto; 
  }

}


@include media(sm){
    .form{
    min-height: 100vh;
  }
  .sub_button{
    margin-top: auto; 
  }

}
