@import '@/shared/styles/main';
.title {
  color: $title-primary-color;
  font-weight: 700;
  font-size: $title-primary-size;
  letter-spacing: 5%;
  text-align: center;
  font-style: bold;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:32px;
  flex: 1;
}


.login_checkbox{
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  align-items: center;
  gap: 12px;
  input{
    aspect-ratio: 1/1;
    height: 22px;
    width: min-content;
  }
}

.form{
  padding: $content-standart-padding;
  width: 100%;
  margin-top: 24px;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sub_button {
  margin-top: auto; 
  margin-bottom: 5vh;
}