@import '@/shared/styles/main';

.container{
  padding: $content-standart-padding;
}

.menu{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:24px;
}

.location_line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 43px;
}

.location{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.last_location_line{
  font-size: $text-third-size;
  color: $text-primary-color;
  font-weight: 400;
}
.location_choose_line{
  font-size: $text-primary-size;
  color: $text-primary-color;
  font-weight: 600;
  opacity: 0.6;
  letter-spacing: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
}

.cart{
  position: fixed;
  top:54px;
  right: 24px;
  background-color: $bg-primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  height: 42px;
  border-radius: 50%;
  box-shadow: 0 4px 6px 0 $shadow-primary-color;
}