@import '@/shared/styles/main';

.container{
  padding: $content-standart-padding;
  background-color:$bg-primary-color;
}

.menu{
  display: grid;
  gap:24px;
  grid-template-columns: repeat(5, 1fr);
  @include media(xl) {
  grid-template-columns: repeat(4, 1fr);
  }
  @include media(md) {
  grid-template-columns: repeat(3, 1fr);
  }
  @include media(sm) {
  grid-template-columns: repeat(2, 1fr);
  }
  @include media(3xs) {
  grid-template-columns: repeat(1, 1fr);
  }
}

.location_line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 43px;
}

.location{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.last_location_line{
  font-size: $text-secondary-size;
  color: $text-primary-color;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  span{
    margin-left: 10px;
    color: $title-primary-color;
    font-weight: 600;
    display: inline-block;
    max-width: 55vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
.location_choose_line{
  font-size: $subtitle-primary-size;
  color: $text-primary-color;
  font-weight: 600;
  opacity: 0.6;
  letter-spacing: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: $font-Thin;
  gap: 13px;
  &:hover{
    opacity: 0.9;
  }
}

.cart{
  position: fixed;
  top:54px;
  right: 24px;
  background-color: $bg-primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  height: 42px;
  border-radius: 50%;
  box-shadow: 0 4px 6px 0 $shadow-primary-color;
}