@import '@/shared/styles/main';

.container{
  padding: $content-standart-padding;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: min(700px, 90vw);
}

.menu {
  display: flex;
  flex-direction: column;
  gap:12px;
  max-width: $content-max-width;
  padding: 0px 20px 10px;
}

.tittle {
  font-size: $title-secondary-size;
  text-align: center;
  margin-bottom: 24px;
}

.locationInput {
  border: 1px solid  $input-border-color;
  border-radius: 8px;
  padding: 16px;
}

.locationsList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

.locationItem>* {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px; 
  border-radius: 12px;
  border: 0px solid  $input-border-color;
  max-height: 150px;
  @include media(2xs){
    max-height: unset;
  }
  animation: all 3s;
}

.radioInput {
  margin-top: 2px;
  width: min-content;
  width: 24px;
  aspect-ratio: 1/1;
}

.locationContent {
  display: flex;
  flex-direction: column;
  flex:1;
  gap:8px;
}

.locationName {
  font-weight: 600;
  font-size: $text-secondary-size;
}

.locationAddress {
  font-size: $text-primary-size;
  font-weight: 600;
}

.addButton {
  width: 100%;
  padding: 17px;
  background: none;
  border-radius: 12px;
  border-width: 0;
  background-color: $btn-second-bg-color;
  cursor: pointer;
  color: $title-primary-color;
  font-size: $text-primary-size;
  &:hover {
    opacity: 0.5;
  }
}

.newLocationInput {
  display: flex;
  gap: 8px;
}

.textInput {
  flex: 1;
  padding: 12px;
  border: 1px solid $input-bg-color;
  border-radius: 12px;
  font-size: $text-primary-size;
}

.saveButton {
  padding: 12px 16px;
  background-color: $btn-primary-bg-color;
  color: $btn-primary-text-color;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  
  &:hover {
    opacity: $btn-primary-hover-opacity;
  }
}



.arrow{
  position: fixed;
  top:54px;
  left: 24px;
  background-color: $bg-primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  height: 42px;
  border-radius: 50%;
  box-shadow: 0 4px 6px 0 $shadow-primary-color;
}

.sub_button {
  margin-top: auto; 
  margin-bottom: 5vh;
}

.loading{
  margin: auto auto;
}

.linkButton{
  background-color: $btn-primary-bg-color;
  color: $btn-primary-text-color;
  width: 100%;
  border-radius: 28px;
  padding: 16px 0;
  max-height: 53px;
  text-align: center;
  margin-top: 10px;
  border-width: 0;
  &:hover, &:focus{
    opacity: 0.5;
 } 
 transition: all 0.3s ease-in-out;
}

.totalLine{
  font-family: $font-Nunito;
  font-weight: 800;
  font-size: $title-secondary-size;
  color: $title-primary-color;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}


.menu_button{
  height: 50px;
  width: 100%;
  background-color: $btn-primary-bg-color;
  border: 0;
  color: $btn-primary-text-color;
  text-align: center;
  margin-bottom: 10px;
  *{
    transform: scaleX(5) rotate(180deg);
    opacity: 0.6;
  }
  overflow-x: hidden;
  &:hover{
    opacity: 0.5;
    *  {
      opacity: 0.9;
    }
  }
   transition: all 0.3s ease-in-out;
}
.menu__closed .menu_button>* {
    transform: scaleX(5);
}
.menuLine{
  overflow-y: hidden;
  height: unset;
  border-radius: 28px;
  background: 
  linear-gradient(white, white) padding-box,
  linear-gradient(180deg, $btn-primary-bg-color, #{$btn-primary-bg-color}60) border-box;
  border: 3px solid transparent;
  border-radius: 28px;
}

.menu__closed{
  height: 100px;
  overflow-y: hidden;
  box-shadow: inset 0px -5px 20px 0px $shadow-primary-color;
}
