@import '@/shared/styles/main';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
     box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: $bg-primary-color;
  color: $text-primary-color;
  font-size: $text-primary-size;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type='submit'] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}


input {
  width: 100%;
  max-height: 56px;
  padding: 19px;
  border-color: $input-border-color;
  border-width: 2px;
  background-color: $input-bg-color;
  border-radius: 8px;
  &::placeholder,&::-webkit-input-placeholder,
  &::-moz-placeholder, &:-ms-input-placeholder  {
    opacity: 0.5;
  }
  &:hover{
    border-color: $input-hover-border-color;
  }
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}