/*
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*/

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-VariableFont.ttf') format('ttf');
  font-weight: 800;
  font-style:normal;
  font-display: swap;
}