/*
$font-Normal: Montserrat, sans-serif;
$font-Medium: Montserrat-Medium, sans-serif;
$font-Bold: Montserrat-Bold, sans-serif;
$font-Old: Old-Soviet, sans-serif;
*/

$font-Normal: Roboto, sans-serif;
$font-Thin: RobotoTh, sans-serif;

$font-Nunito: Nunito, sans-serif;


$text-primary-size: 18px;
$text-secondary-size: 16px;
$text-third-size: 14px;

$title-primary-size: 30px;
$title-secondary-size: 22px;

$subtitle-primary-size: 20px;
$subtitle-secondary-size: 18px;

$btn-text-primary-size: 30px;
$btn-text-secondary-size: 25px;

$text-regular-weight: 400;
$text-medium-weight: 500;
$text-semi-bold-weight: 600;
$text-bold-weight: 700;
