$size-13: 13px;
$size-15: 15px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-24: 24px;
$size-25: 25px;
$size-27: 27px;
$size-28: 28px;
$size-30: 30px;
$size-35: 35px;
$size-36: 36px;
$size-50: 50px;
$size-40: 40px;
$size-55: 55px;
$size-60: 60px;
$size-70: 70px;
$size-90: 90px;

$content-standart-padding: 54px 24px 0;
$content-max-width: 1542px;
$content-preferred-width: 700px;