@import '@/shared/styles/main';

.container {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  padding: 8px;
  gap: 8px;
  box-shadow: 0 4px 6px 0 $shadow-primary-color;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  flex-shrink: 1;
  overflow: hidden;
  &:hover {
    background-color: $input-border-color;
  }
  transition: background-color 0.9s ease, box-shadow 0.3s ease;
  width: 100%;


}

.main_content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 40px;
  flex: 1;
  min-width: 0;
  gap: 8px;

  align-items: flex-start;
    @include media(2xs){
      display: flex;
      flex-direction: column;
      align-items: center;
  }
}

.image_container {
  height: 100%;
  aspect-ratio: 1/1;
  max-height: 120px;
  min-height: 60px;
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
  @include media(2xs){
    grid-row-start: 1;
    grid-row-end: 3;
    aspect-ratio: 1/0.75;
    overflow-y: visible;
    max-height: unset;
    width: 100%;
  }
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.sale {
  color: $attention-text-color;
  font-weight: 600;
}

.cost_line {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  @include media(2xs){
    justify-content: center;
  }
}

.def_price__saled {
  text-decoration: line-through;
}

.text_content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  margin-top: 12px;
  overflow: hidden;
  height: 100%;
  @include media(2xs){
    margin-top: 0;
  }
}

.name_line {
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: $font-Nunito;
  font-weight: 700;
  color: $title-primary-color;
}

.button {
  width: 25px;
  height: 25px;
  border: 2px;
  border-radius: 50%;
  border: 1px solid $gray;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1;
  flex-shrink: 0;
  background-color: #{$bg-primary-color}70;
  &:hover{
    background-color: $bg-primary-color;
  }
  transition: all 0.5s;
}

.changeAmountLine {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: auto;
  flex-wrap: nowrap;
  @include media(2xs){
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}

.amount {
  margin: 0 15px;
  min-width: 30px;
  text-align: center;
  margin-bottom: 3px;
  margin-top: 10px;
  @include media(sm){
    margin: 0;
  }
}

.remove_button {
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #999;
  font-size: 30px;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  padding: 0;
  transition: color 0.2s;
  flex-shrink: 0;
  margin-left: 0;
  position: absolute;
  top: 2px;
  right: 2px;
  opacity: 0.5;
  &:hover{
    opacity: 1;
  }
}

.remove_button:hover {
  color: #ff4444;
}
.multCostline{
  margin-top: auto;
  font-weight: 400;
  font-family: $font-Thin;
  opacity: 0.7;
  font-size: $text-secondary-size;
  margin-left: 1em;
  @include media(2xs){
      margin-left: 0;
  }
}
.amount_line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include media(2xs){
      flex-direction: column;
      align-items: center;

  }
}

@include media(sm) {
  .container {
    flex-wrap: wrap;
  }
  
  .main_content {
    width: 100%;
  }
}
