// styles.module.scss
.custom-marker {
  background: red;
  border: none;
  font-size: 24px;
  text-align: center;
  line-height: 1;

}
.container :global(.leaflet-control-attribution) {
  display: none !important;
}