@import '@/shared/styles/main';

.menu{
  display: grid;
  gap:24px;
  padding: 25px;
  border-radius: 25px;
  background-color: $bg-second-color;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  @include media(xl) {
  grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @include media(md) {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include media(sm) {
grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include media(2xs) {
  grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  li{
    display: flex;
    flex-direction: column;
    justify-content: center;
      width: 100%;
  }
}

.cart{
  position: fixed;
  top:54px;
  right: 24px;
  background-color: $bg-primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  width: 100%;
  height: 42px;
  border-radius: 50%;
  box-shadow: 0 4px 6px 0 $shadow-primary-color;
}

.loading{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.textMessage{
  color: $title-primary-color;
  align-items: center;
    padding: 25px;
  border-radius: 25px;
  background-color: $bg-second-color;
  text-align: center;
}